# Python
__pycache__/
*.pyc

# Ignora i file temporanei
*~
*.log

# # Ignora i file dei modelli
# *.pt
# *.pth

# Ignora i log e le cartelle di WandB
wandb/

# Ignora le cartelle dei dati
data/
# Ignora i checkpoint e i file generati dal training
results/
*.safetensors
*.json
*.bin
*.pt
# Ignora i file di log di TensorBoard
events.out.tfevents.*
# Ignora la cartella dei log
logs/
